@import '../fonts/Gilroy/stylesheet.css';
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--footer {
  max-width: 1094px;
}

.none {
  display: none !important;
}

.title-2 {
  font-weight: 700;
  font-size: clamp(32px, 1.702rem + 1.49vw, 42px);
  text-wrap: balance;
}

:root {
  --text-color: #1e1e1e;
  --text-muted: #8d8d8d;
  --text-card-dark-blue: #0d1b39;
  --accent: #e58411;
  --header-text-color: #fff;
  --product-text-color: #8D8D8D;
  --footer-accent: #f6973f;
  --footer-bg: #2d2f33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --ui-orange: #e58411;
  --ui-biruza: #00d6c9;
  --ui-brown: #930608;
  --ui-gray: #7c7c7c;
  --ui-dark-blue: #0d1b39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

.header {
  position: relative;
  padding-top: 40px;
  background-color: var(--footer-bg);
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ration: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url(url("./../img/header/header-bg@2x.jpg"));
  }
}
.header a {
  color: var(--header-text-color);
}
.header a:hover {
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 629px) {
  .header {
    padding-top: 20px;
    padding-bottom: 240px;
    background-position: center;
    aspect-ratio: unset;
  }
}

.header__nav {
  margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

@media (max-width: 992px) {
  .cart__img {
    width: 30px;
    height: 30px;
  }
}

.header__content {
  text-align: center;
}

.header__title {
  margin: 0 auto;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: clamp(28px, 1.179rem + 2.86vw, 60px);
  text-wrap: balance;
  line-height: 1.1;
  max-width: 1000px;
}

.header__description {
  margin: 0 auto;
  font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
  line-height: 1.4;
  max-width: 615px;
  opacity: 0.8;
}

.header__search {
  display: inline-block;
  margin: 35px auto 0;
}
@media (max-width: 819px) {
  .header__search {
    display: none;
  }
}

.search-form {
  display: flex;
  gap: 10px;
  max-width: 344px;
  padding: 8px 8px 8px 20px;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.search-form__input {
  flex-grow: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.search-form__input::-moz-placeholder {
  color: #fff;
  font-weight: 400;
}
.search-form__input::placeholder {
  color: #fff;
  font-weight: 400;
}

.search-form__btn {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  padding: 11px 11px;
  background: var(--accent);
  border-radius: 24px;
}

.header__dot {
  position: absolute;
}
@media (max-width: 819px) {
  .header__dot {
    display: none;
  }
}

.header__dot--sofa {
  left: 20.5555555556%;
  top: 63.1918819188%;
}

.header__dot--vase {
  left: 7.9166666667%;
  top: 69.557195572%;
  transform: translate(-40%, -40%);
}

.header__dot--item {
  left: 55.0694444444%;
  top: 72.6014760148%;
}

.header__dot--pot {
  left: 94.2361111111%;
  top: 75.184501845%;
  transform: translate(15%, 15%);
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.nav__logo {
  align-self: center;
}

.nav__btn {
  display: none;
}
@media (max-width: 992px) {
  .nav__btn {
    display: block;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 992px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  position: relative;
  padding: 10px 0;
}

.nav-list__link {
  transition: opacity 0.1s ease-in;
}
.nav-list__link:hover {
  opacity: 0.7;
}
.nav-list__link--dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-list__link--dropdown::after {
  content: url("./../../img/icons/arrow-nav.svg");
  height: 21px;
}

.nav-list__item:hover {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0%);
}

.nav-list__sub-nav {
  opacity: 0;
  width: 160px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0%, 10%);
  transition: all 0.2s ease-in;
}

.nav-list__item:hover .nav-list__sub-nav {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0%);
}

.nav-btn {
  display: none;
}
@media (max-width: 992px) {
  .nav-btn {
    display: block;
  }
}

.cart {
  position: relative;
  align-self: center;
  justify-self: end;
}

.cart__count {
  position: absolute;
  display: inline-block;
  top: 3px;
  right: -6px;
  background-color: var(--accent);
  border-radius: 40px;
  height: 25px;
  padding: 0 6px;
  line-height: 25px;
  font-weight: 500;
  font-family: var(--font-cards);
}
@media (max-width: 992px) {
  .cart__count {
    top: -2px;
    right: -9px;
    height: 23px;
    padding: 0 6px;
    line-height: 22px;
    font-weight: 500;
    font-size: 16px;
  }
}

.sub-nav {
  display: grid;
  gap: 16px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--footer-bg);
  color: var(-footer-text-color);
  font-size: 16px;
}
.sub-nav a {
  color: var(--footer-text-color);
  transition: color 0.1s ease-in;
}
.sub-nav a:hover {
  color: var(--accent);
}

.logo {
  font-weight: 700;
  font-size: clamp(20px, 1.107rem + 0.71vw, 28px);
  letter-spacing: 0.28px;
  text-transform: capitalize;
  color: #fff !important;
}

.logo-product {
  font-weight: 700;
  font-size: clamp(20px, 1.107rem + 0.71vw, 28px);
  letter-spacing: 0.28px;
  text-transform: capitalize;
  color: #000 !important;
}

.info-dot {
  position: relative;
  cursor: pointer;
}

.info-dot__circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 12px;
  width: 112px;
  height: 56px;
  background-image: url("/img/icons/hint.svg");
}

.info-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint__radio:checked + .info-hint__radio-fake {
  background-image: url("/img/icons/checkbox-no.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.info-hint__radio-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: gray;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.info-hint__radio-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint__radio-fake--biruza {
  background-color: var(--ui-biruza);
}
.info-hint__radio-fake--gray {
  background-color: var(--ui-gray);
}

.benefits {
  padding: clamp(60px, 2.679rem + 5.36vw, 120px) 0;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 992px) {
  .benefits__grid {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: clamp(30px, 0.982rem + 4.46vw, 60px) 20px;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.benefit__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.benefit__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  text-wrap: balance;
  color: #1e1e1e;
  opacity: 0.8;
  margin-bottom: 14px;
}

.products {
  padding: 50px 0;
  text-align: center;
  background-color: #f7f7f7;
}

.products__title {
  margin-bottom: 32px;
}

.products__tabs {
  margin-bottom: 80px;
}
@media (max-width: 629px) {
  .products__tabs {
    display: none;
  }
}

.products__slider {
  margin-bottom: clamp(30px, 0.982rem + 4.46vw, 60px);
}
@media (max-width: 1400px) {
  .products__slider {
    padding: 0 40px;
  }
}
@media (max-width: 629px) {
  .products__slider {
    padding: 0 20px;
  }
}

.read-more {
  display: inline-flex;
  align-items: center;
  gap: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  color: var(--accent);
}
.read-more::after {
  content: url(/img/icons/arrow-right.svg);
  height: 24px;
}
.read-more--products {
  font-size: 18px;
}

.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 44px;
  background: #eeeeee;
}
@media (max-width: 629px) {
  .tab-controls {
    display: none;
  }
}

.tab-controls__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 7px 20px;
  border-radius: 32px;
  color: rgba(30, 30, 30, 0.8);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.85;
  transition: background-color 0.2s ease-in;
}
.tab-controls__btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.tab-controls__btn--active {
  background-color: #fff;
}
.tab-controls__btn--active:hover {
  background-color: #fff;
}
@media (max-width: 629px) {
  .tab-controls__btn {
    line-height: 1;
  }
}

.card {
  position: relative;
  font-family: var(--font-cards);
  width: 268px;
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__photo {
  text-align: center;
  height: 240px;
  background-color: #fafafa;
  border-radius: 20px 20px 0 0;
  margin-top: 50px;
}

.card__descr {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 202px;
  padding: 14px 22px 28px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.card__img {
  position: relative;
  z-index: 5;
  margin-top: -35px;
  transition: 0.2s ease-in;
}
.card__img:hover {
  transform: translateY(-20px);
}

.card__category {
  position: relative;
  z-index: 3;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: var(--text-muted);
}

.card__title {
  font-weight: 600;
  font-size: 21px;
  text-align: left;
  text-transform: capitalize;
  color: var(--text-card-dark-blue);
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card__price {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  font-weight: 600;
  font-size: 21px;
  color: var(--ui-dark-blue);
}

.card__btn {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--ui-dark-blue);
  border-radius: 50%;
  transition: background-color 0.2s ease-in;
}
.card__btn:hover {
  background-color: var(--accent);
}

.slider {
  position: relative;
}

.slider__btn {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 7.03125px 19.53125px rgba(0, 0, 0, 0.06);
}

.slider__btn--prev {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__btn--next {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.footer {
  padding: clamp(60px, 2.024rem + 8.63vw, 118px) 0 56px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
}
.footer a {
  color: var(--footer-text-color);
  transition: opacity 0.1s ease-in;
}
.footer a:hover {
  opacity: 0.6;
}

.footer__grid {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
  gap: 60px;
  margin-bottom: clamp(60px, 2.024rem + 8.63vw, 118px);
}
@media (max-width: 992px) {
  .footer__grid {
    grid-template-columns: 4fr 1fr 3fr 3fr;
  }
}
@media (max-width: 629px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
  }
}

.footer__nav--service {
  grid-column-start: 3;
}
@media (max-width: 629px) {
  .footer__nav--service {
    grid-column-start: auto;
  }
}

.footer__nav-title {
  font-family: var(--font-footer-accent);
  font-size: 17px;
  letter-spacing: -0.232px;
  color: var(--footer-accent);
  margin-bottom: 20px;
}

.footer__list {
  display: grid;
  gap: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 629px) {
  .footer__row {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }
}

.footer__descr {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  max-width: 293px;
}
.footer__descr p + p {
  margin-top: 1em;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__copyright {
  font-family: var(--font-footer-accent);
  font-size: 15px;
  letter-spacing: -0.205px;
  color: #ffffff;
  opacity: 0.5;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
}
@media (max-width: 629px) {
  .footer__links {
    gap: 20px;
  }
}

.mobile-nav-wrapper {
  display: none;
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  padding: 30px 20px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
}
.mobile-nav-wrapper a {
  color: var(--footer-text-color);
  transition: color 0.1s ease-in;
}
.mobile-nav-wrapper a:hover {
  color: #fff;
}
.mobile-nav-wrapper--open {
  display: block;
}

.mobile-nav-list {
  display: grid;
  gap: 20px;
  font-size: 22px;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-cart {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 22px;
  font-weight: 500;
}

.mobile-sub-nav {
  display: grid;
  gap: 14px;
  font-size: 16px;
  padding: 20px 0 0 20px;
}
.mobile-sub-nav a {
  transition: color 0.1s ease-in;
}
.mobile-sub-nav a:hover {
  color: var(--accent);
}

.header-product {
  position: relative;
  padding-top: 40px;
  background-color: #fff;
  color: var(--text-color);
}
.header-product a {
  color: var(--text-color);
}
@media (max-width: 629px) {
  .header-product {
    padding-top: 20px;
    padding-bottom: 240px;
    background-position: center;
    aspect-ratio: unset;
  }
}

.header__nav {
  margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

@media (max-width: 992px) {
  .cart-product__img {
    width: 30px;
    height: 30px;
  }
}

.header__content {
  text-align: center;
}

.nav-product-list__link {
  transition: opacity 0.1s ease-in;
}
.nav-product-list__link:hover {
  opacity: 0.7;
}
.nav-product-list__link::after {
  content: url("./../img/icons/arrow-product.svg");
  height: 21px;
}

.nav-list__item:hover {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0%);
}

.cart-product__count {
  position: absolute;
  display: inline-block;
  top: 1px;
  right: -11px;
  background-color: var(--accent);
  color: #fff;
  border-radius: 40px;
  height: 25px;
  padding: 0 6px;
  line-height: 25px;
  font-weight: 500;
  font-family: var(--font-cards);
}
@media (max-width: 992px) {
  .cart-product__count {
    top: -2px;
    right: -9px;
    height: 23px;
    padding: 0 6px;
    line-height: 22px;
    font-weight: 500;
    font-size: 16px;
  }
}

.sub-nav {
  display: grid;
  gap: 16px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--footer-bg);
  color: var(-footer-text-color);
  font-size: 16px;
}
.sub-nav a {
  color: var(--footer-text-color);
  transition: color 0.1s ease-in;
}
.sub-nav a:hover {
  color: var(--accent);
}

.product-content {
  margin-bottom: 40px;
}

.product__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.product__title {
  font-family: var(--font-cards);
  font-size: 17px;
  line-height: 20px;
  color: var(--product-text-color);
}

.product__img {
  width: 5px;
  height: 5px;
  margin: 0 8px;
}

.product__title--active {
  font-family: var(--font-cards);
  font-size: 17px;
  line-height: 20px;
  color: rgba(141, 141, 141, 0.5);
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-info__rating {
  margin-bottom: 12px;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.product-info__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: capitalize;
  color: var(--text-color);
}

.product-info__specifications {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 240px;
}

.product-color {
  display: flex;
  justify-content: space-between;
}

.text-accent {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--product-text-color);
  opacity: 0.8;
}

.material {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.material__text--descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
}

.price {
  display: flex;
  width: 248px;
  flex-direction: column;
  align-items: center;
}

.price__btn {
  padding: 12px 49px;
  background: #1e1e1e;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}

.price__text {
  display: flex;
  justify-content: space-between;
  width: 245px;
}

.price__text-priced {
  font-weight: 500;
}

.price-btn {
  display: flex;
  width: 344px;
  align-items: flex-start;
  margin-right: 94px;
}

.price-btn__descr {
  position: relative;
  border: 1px solid #8d8d8d;
  border-radius: 50px;
  padding: 14px 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.9;
  margin-right: 16px;
}
.price-btn__descr::after {
  position: absolute;
  content: "";
  background-image: url(./../img/icons/minus.svg);
  width: 16px;
  height: 16px;
  top: 14px;
  left: 12px;
}
.price-btn__descr::before {
  position: absolute;
  content: "";
  background-image: url(./../img/icons/plus.svg);
  width: 16px;
  height: 16px;
  top: 14px;
  right: 13px;
}

.product-color__dots {
  position: relative;
}

.product-hint {
  position: absolute;
  top: 24px;
  left: 170px;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 12px;
}

.product-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.product-hint__radio:checked + .product-hint__radio-fake {
  background-image: url("/img/icons/checkbox-no.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.product-hint__radio-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: gray;
  border: 2px solid #e4e4e4;
  border-radius: 50%;
}
.product-hint__radio-fake--orange {
  background-color: var(--ui-orange);
}
.product-hint__radio-fake--brown {
  background-color: var(--ui-brown);
}

.product-slider {
  margin: 20px 0;
}/*# sourceMappingURL=main.css.map */