.header {
	position: relative;
	padding-top: 40px;
	background-color: var(--footer-bg);
	background-image: url('./../img/header/header-bg.jpg');
	background-size: cover;

	aspect-ratio: 1440 / 1084;

	color: var(--header-text-color);

	@include retina-bg(url('./../img/header/header-bg@2x.jpg'));

	a {
		color: var(--header-text-color);

		&:hover {
			color: rgba(255, 255, 255, 0.6);
		}
	}

	@include mobile() {
		padding-top: 20px;
		padding-bottom: 240px;
		background-position: center;
		aspect-ratio: unset;
	}

}

.header__nav {
	margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

.cart__img {
	@include tablet {
		width: 30px;
		height: 30px;
	}
}

.header__content {
	text-align: center;
}

.header__title {
	margin: 0 auto;
	padding-bottom: 20px;
	font-weight: 700;
	font-size: clamp(28px, 1.179rem + 2.86vw, 60px);
	text-wrap: balance;
	line-height: 1.10;
	max-width: 1000px;

	// margin-bottom: 14px;
}

.header__description {
	margin: 0 auto;
	// font-size: 24px;
	font-size: clamp(16px, 0.857rem + 0.71vw, 24px);

	line-height: 1.4;
	max-width: 615px;

	opacity: 0.8;
}

.header__search {
	display: inline-block;
	margin: 35px auto 0;

	@include tablet-820() {
		display: none;
	}
}

.search-form {
	display: flex;
	gap: 10px;
	max-width: 344px;
	padding: 8px 8px 8px 20px;
	justify-content: space-between;
	align-items: center;
	height: 56px;

	border-radius: 42px;
	border: 0.862px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(8px);
}

.search-form__input {
	flex-grow: 1;

	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;

	&::placeholder {
		color: #fff;
		font-weight: 400;
	}
}

.search-form__btn {
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	padding: 11px 11px;

	background: var(--accent);

	border-radius: 24px;
}

.header__dot {
	position: absolute;

	@include tablet-820() {
		display: none;
	}
}

.header__dot--sofa {
	left: calc(296 * 100% / 1440);
	top: calc(685 * 100% / 1084);
}

.header__dot--vase {
	left: calc(114 * 100% / 1440);
	top: calc(754 * 100% / 1084);

	transform: translate(-40%, -40%);
}

.header__dot--item {
	left: calc(793 * 100% / 1440);
	top: calc(787 * 100% / 1084);
}

.header__dot--pot {
	left: calc(1357 * 100% / 1440);
	top: calc(815 * 100% / 1084);
	transform: translate(15%, 15%);
}
