.logo {
	font-weight: 700;
	font-size: clamp(20px, 1.107rem + 0.71vw, 28px);

	letter-spacing: 0.28px;
	text-transform: capitalize;
	color: #fff !important;
}

.logo-product {
	font-weight: 700;
	font-size: clamp(20px, 1.107rem + 0.71vw, 28px);

	letter-spacing: 0.28px;
	text-transform: capitalize;
	color: #000 !important;
}
