.products {
	padding: 50px 0;
	text-align: center;
	background-color: #f7f7f7;
}

.products__title {

	margin-bottom: 32px;
}

.products__tabs {
	margin-bottom: 80px;

	@include mobile() {
		display: none;
	}
}

.products__slider {
	margin-bottom: clamp(30px, 0.982rem + 4.46vw, 60px);


	@include desktop-small() {
		padding: 0 40px;
	}

	@include mobile() {
		padding: 0 20px;
	}
}
