.product-content {
  margin-bottom: 40px;
}

.product__top {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 17px;
}

.product__title {
  font-family: var(--font-cards);
  font-size: 17px;
  line-height: 20px;

  color: var(--product-text-color);
}

.product__img {
  width: 5px;
  height: 5px;

  margin: 0 8px;
}

.product__title--active {
  font-family: var(--font-cards);
  font-size: 17px;
  line-height: 20px;

  color: rgba(141, 141, 141, 0.5);
}
